<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="javascripts/minified-jquery.js"></script>
    <script type="text/javascript" src="javascripts/Service.js"></script>
    <script type="text/javascript" src="javascripts/BrowserGUI.js"></script>
    <script type="text/javascript" src="javascripts/Timer.js"></script>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
